
*{
    text-align: center;
}

.users{
    height: 600px;
    width: 400px;
    border: 2px solid #F79F1F;
    margin: auto;
  padding: 10px;
  overflow: auto;
}
a{
    color: #F79F1F;
    text-decoration: none;

}
h2{
    color: #F79F1F;
}
h3{
    margin: 5px 1px;
}
#mobile{
    color: #F79F1F;
    margin-top: 1px;
    padding-top: 1px;
    font-size: 10px;
}
.names{
    border: 1px solid #F79F1F;
    margin: 5px;
    
}
button{
    background-color: #F79F1F;
    width: 200px;
    border: none;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
}